* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   
}

header {
    background-color: #2e7d32;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(rgba(46,125,50,0.8),
    rgba(46,125,50,0.8)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
}

.sobre {
    padding: 50px 20px;
    text-align: center;
}

.sobre h2 {
    color: #2e7d32;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(191, 235, 166, 0.822);
    border-top: 5px solid #fbc02d;
}

.card span {
    font-size: 3rem;
}

.card h3 {
    margin: 15px 0;
    color: #2e7d32;
}

footer {
    
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}